* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 35px;
}

.messageText {
    width: 300px;
    padding: 4px;
    font-size: 16px;
    border-radius: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 1px blue;
    transition: .2s ease all;
    outline: none;
  
}

.messageText:focus {
    box-shadow: 1px 1px 10px blue;
    border: 1px solid gray;
    outline: none;
}

.btn {
    padding: 3px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 7px;
    box-shadow: 1px 1px blue;
    background: white;
    font-size: 16px;
    border:1px solid gray;
}

.btn:hover{
    box-shadow: 1px 1px 5px blue;
}

.btn:active{
    transform: translateY(1px);
}

ul{
    list-style: none;
}

ul li{
    width: 600px;
    border-radius: 5px;
    padding: 5px;

}

ul li:hover{
    background-color: blue !important;
    color: white;
}

ul li:nth-child(2n+1){
    background-color: lightblue;
}